{
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "class-methods-use-this": "off"
  }
}
