{
  "overrides": [
    {
      "files": ["**/*.ts", "*.ts"],
      "extends": [
        "airbnb-typescript/base",
        "prettier",
        "prettier/@typescript-eslint"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      "files": ["**/*.js", "*/js"],
      "extends": ["airbnb/base", "prettier"]
    }
  ],
  "rules": {
    "class-methods-use-this": "off"
  }
}
